body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 ;
    gap: 20px;
    min-height: 100vh;
    background-image: url('galaxy.jpg');
}

* {
    box-sizing: border-box;
    margin: 0;  
    padding:0;
    font-family: Arial, Helvetica, sans-serif;

}

.top{
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 2rem;
    background-color: rgb(209, 188, 248);
    width: 90%;
    border-radius: 15px;
}

.main{
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: stretch;
    flex-grow: 1;
 
}

.sideColumn{
    flex: 1;
    padding: 15px;
  
}

.middleColumn{
    flex: 3;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    align-items: center;
    background-size: cover;
    background-color: rgb(167, 161, 209);
    border-radius: 15px;
}



.topTitle{
    color:rgb(1, 1, 27);
    background-color: transparent;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    line-height: 1.1;
    border: 10rem;
    margin: auto;
    justify-content: center;
    text-align: center;
}

.button{
    display: flex;
    margin: auto;
    margin-top: 10px;
    padding: 3px;
}

.button:hover{
    display: flex;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(202, 251, 255);
    padding: 5px;
    font-size: 2rem;
    border-radius: 15px;
}

.text{
    margin-top: 20px;
    display: flex;
    padding: 2rem;
    background-color: rgb(118, 111, 172);
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.text2{
    display: flex;  
    flex-direction: column;
    align-items: center;
    width: 90%;
    text-align: center;
    font-family: "Bitcount Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-size:  2em;
    font-style: normal;
    color: rgb(42, 8, 121);
    background-color: white;
    padding: 15px;
    
    
}

.birthday{
    color:rgb(0, 14, 51);
    background-color: transparent;
    font-family: "Press Start 2P", system-ui;
    font-weight: 350;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.1;
    border: 10rem;
    margin: auto;
    justify-content: center;
    align-items: center ;
    text-align: center;
}

.dropbox{
    margin-top: 2rem;
}



.dropdown-box{
    width: 300px;
    position: relative;
}


.dropdown-box input{
    width: 100%;
    border: 1px solid rgb(154, 154, 154);
    outline: none;
    border-radius: 5px;
    padding: 3px 5px;
    color: rgb(66, 66, 66);
}

.dropdown-box .selected-item{
    position: relative;
}


.dropdown-box .selected-item::after{
    content: "";
    width: 3px;
    height: 3px;
    border: 2px solid;
    border-color: transparent rgb(154, 154, 154) rgb(154, 154, 154) transparent;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-70%) rotate(45deg);
}

.dropdown-box .selected-item,
.dropdown-box .selected-item input{
    cursor: pointer;
}

.dropdown-box .dropdown-content{
    box-shadow: 0 5px 15px rgb(190, 190, 190);
    border-radius: 5px;
    max-height: 190px;
    overflow: auto;
    display: none;
    position: absolute;
    z-index: 99;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.dropdown-box.active .dropdown-content{
    display: block;
}

.dropdown-box .dropdown-content .search-input{
    padding: 5px;
}

.dropdown-box .dropdown-content ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.dropdown-box .dropdown-content ul li,
.dropdown-box .dropdown-content ul a{
    font-size: 0.9rem;
    padding: 3px 5px;
    cursor: pointer;
}

.dropdown-box .dropdown-content ul li:hover,
.dropdown-box .dropdown-content ul a:hover{
    background-color: rgb(236, 236, 236);
}

.dropdown-box .dropdown-content ul li.active,
.dropdown-box .dropdown-content ul a.active{
    background-color: rgb(189, 218, 255);
    color: rgb(26, 26, 155);
}

.dropdown-box .dropdown-content ul li.hide, 
.dropdown-box .dropdown-content ul a.hide {
    display: none;
}

.descTitle{
    margin: auto;
}

.desc{
    margin: auto;
    text-align: center;
    font-family: "Bitcount Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-size: 2.5em;
    font-style: normal;
    word-spacing: 10px;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.descText{
    text-align: justify;
    margin: auto;
    width: 67%;
}