body{
    display: flex;
    justify-content: center;
    padding: 50px 200px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;

}

.dropdown-box{
    width: 300px;
}


.dropdown-box input{
    width: 100%;
    border: 1px solid rgb(154, 154, 154);
    outline: none;
    border-radius: 5px;
    padding: 3px 5px;
}

.dropdown-box .selected-item{
    position: relative;
}


.dropdown-box .selected-item::after{
    content: "";
    width: 3px;
    height: 3px;
    border: 2px solid;
    border-color: transparent rgb(154, 154, 154) rgb(154, 154, 154) transparent;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-70%) rotate(45deg);
}

.dropdown-box .selected-item,
.dropdown-box .selected-item input{
    cursor: pointer;
}

.dropdown-box .dropdown-content{
    box-shadow: 0 5px 15px rgb(190, 190, 190);
    border-radius: 5px;
}

.dropdown-box .dropdown-content .search-input{
    padding: 5px;
}

.dropdown-box .dropdown-content ul{
    list-style: none;
}