<!DOCTYPE html>
{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap" rel="stylesheet">




<html>
    <head>
        <title>Space Birthday</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <script src="{% static 'main.js' %}"></script>
    </head>
    <body>

        <div class="top">
            <h1 class="topTitle">Space Birthdays!!</h1>
        </div>

        <div class="main">
            <div class="sideColumn">
                <img src="static/man.jpeg">
            </div>
            <div class="middleColumn">

                <div class="text">
                        <h1 class="birthday">find your birthday</h1> 

                        <div class="dropbox">
                                <div class="dropdown-box">
                                    <div class="selected-item">
                                    <input type="text" name="" value="Select" readonly id="">
                                </div>
                            
                            <div class="dropdown-content">
                                <div class="search-input">
                                    <input type="text" name="" value="" id="">

                                </div>
                                <ul>

                                    
                                    
                                    

                                </ul>
                            </div>
                        </div>
                        <button href="{% url 'index:fillform' %}" class="button">Enter!</button>
                    </div>


                
                </div>
                <div class="descTitle">
                    <h1 class="desc">Description</h1>
                    <p class="descText">Space Birthdays is a tool to find what cool picture
                        / event that has happened on a specific date!
                        Credits to  NASA and the photographers for the data!</p>
                </div>
            </div>

            <div class="sideColumn"></div>
        </div>


        
</html>