<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>Space Birthday</title>
        <link rel="stylesheet" href="{% static 'main.css' %}">
        <script src="{% static 'main.js' %}"></script>
    </head>
    <body>
        
        <div class="dropdown-box">
            <div class="selected-item">
                <input type="text" name="" value="Select" readonly id="">
            </div>
        
        <div class="dropdown-content">
            <div class="search-input">
                <input type="text" name="" value="" id="">

            </div>
            <ul>
                <li class="dropdown-item active">Select</li>
                <li class="dropdown-item">red</li>
                <li class="dropdown-item">blue</li>
                <li class="dropdown-item">purple</li>
                <li class="dropdown-item">pink</li>
                <li class="dropdown-item">purple</li>
                <li class="dropdown-item">pink</li>
                <li class="dropdown-item">purple</li>
                <li class="dropdown-item">pink</li>
                <li class="dropdown-item">purple</li>
                <li class="dropdown-item">pink</li>
                <li class="dropdown-item">purple</li>
                <li class="dropdown-item">pink</li>
                <li class="dropdown-item">purple</li>
                <li class="dropdown-item">pink</li>
                <li class="dropdown-item">purple</li>
                <li class="dropdown-item">pink</li>
                <li class="dropdown-item">purple</li>
                <li class="dropdown-item">pink</li>
                <li class="dropdown-item">purple</li>
                <li class="dropdown-item">pink</li>
                <li class="dropdown-item">purple</li>
                <li class="dropdown-item">pink</li>
                <li class="dropdown-item">purple</li>
                <li class="dropdown-item">pink</li>
                <li class="dropdown-item">purple</li>
                <li class="dropdown-item">pink</li>
                <li class="dropdown-item">purple</li>
                <li class="dropdown-item">pink</li>

            </ul>
        </div>
        </div>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime, excepturi dolores tenetur a cupiditate tempore eligendi laudantium suscipit, omnis accusamus aspernatur harum qui quam optio deserunt saepe odio, at ipsa!</p>
    </body>
</html>